@import './base.css';
@import 'primeicons/primeicons.css';

#app {
  max-width: 2560px;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  body {
    background-color:white!;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
}

body.login-bg {
  background: url('loginbg.jpg') no-repeat center center fixed;
  background-size: cover;
}

